*{
  color: white;
}
table {
  margin-left: 10rem;
  width: 80%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.25rem;
}
th {
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.5rem;
  color: rgb(255, 140, 0)

}
td {
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(255, 140, 0)
}

.title{
  color:rgba(255,140,0, .9);
  font-weight: bold;
}