body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-OpenModal{
  cursor: pointer;
  width: 100px;
  margin-top: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 157, 0, 1);
  border-radius: .25rem;
  border: 2px solid rgb(255, 255, 255);
}

.title{
  color:rgba(255,140,0, .9);
  font-weight: bold;
}